In [1]:
import pandas as pd
import numpy as np
import json

file = 'data_set_ALL_AML_train.csv'
df = pd.read_csv(file, index_col=1)

In [2]:
#print(df.loc[1240:1250,'Gene Description':'Gene Accession Number'])
print(df.info())
print(df.shape)
a = ['call'] + ['call.' + str(x) for x in range(1,38)]
data = df.drop(columns=a)
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 7129 entries, AFFX-BioB-5_at to Z78285_f_at
Data columns (total 77 columns):
Gene Description    7129 non-null object
1                   7129 non-null int64
call                7129 non-null object
2                   7129 non-null int64
call.1              7129 non-null object
3                   7129 non-null int64
call.2              7129 non-null object
4                   7129 non-null int64
call.3              7129 non-null object
5                   7129 non-null int64
call.4              7129 non-null object
6                   7129 non-null int64
call.5              7129 non-null object
7                   7129 non-null int64
call.6              7129 non-null object
8                   7129 non-null int64
call.7              7129 non-null object
9                   7129 non-null int64
call.8              7129 non-null object
10                  7129 non-null int64
call.9              7129 non-null object
11                  7129 non-null int64
call.10             7129 non-null object
12                  7129 non-null int64
call.11             7129 non-null object
13                  7129 non-null int64
call.12             7129 non-null object
14                  7129 non-null int64
call.13             7129 non-null object
15                  7129 non-null int64
call.14             7129 non-null object
16                  7129 non-null int64
call.15             7129 non-null object
17                  7129 non-null int64
call.16             7129 non-null object
18                  7129 non-null int64
call.17             7129 non-null object
19                  7129 non-null int64
call.18             7129 non-null object
20                  7129 non-null int64
call.19             7129 non-null object
21                  7129 non-null int64
call.20             7129 non-null object
22                  7129 non-null int64
call.21             7129 non-null object
23                  7129 non-null int64
call.22             7129 non-null object
24                  7129 non-null int64
call.23             7129 non-null object
25                  7129 non-null int64
call.24             7129 non-null object
26                  7129 non-null int64
call.25             7129 non-null object
27                  7129 non-null int64
call.26             7129 non-null object
34                  7129 non-null int64
call.27             7129 non-null object
35                  7129 non-null int64
call.28             7129 non-null object
36                  7129 non-null int64
call.29             7129 non-null object
37                  7129 non-null int64
call.30             7129 non-null object
38                  7129 non-null int64
call.31             7129 non-null object
28                  7129 non-null int64
call.32             7129 non-null object
29                  7129 non-null int64
call.33             7129 non-null object
30                  7129 non-null int64
call.34             7129 non-null object
31                  7129 non-null int64
call.35             7129 non-null object
32                  7129 non-null int64
call.36             7129 non-null object
33                  7129 non-null int64
call.37             7129 non-null object
dtypes: int64(38), object(39)
memory usage: 4.2+ MB
None
(7129, 77)
(7129, 39)

In [3]:
key = pd.read_csv('actual.csv', index_col=0)
print(key.head())
print(type(key.index))

        cancer
patient
1          ALL
2          ALL
3          ALL
4          ALL
5          ALL
<class 'pandas.core.indexes.numeric.Int64Index'>

I want to merge the gene expression dataframe ('data') with the key to create a dataframe that includes information on the type of cancer. I can then groupby the 'cancer' column to perform aggregations such as determining the mean and standard deviation of the expression level for each gene in the dataset.

In order to merge the 'data' and 'key' dataframes, however, I first need to reshape the data.

In [4]:
#Transpose rows and columns so that each column is a different gene
transposed_data = data.transpose()
#Drop the 'Gene Description' row as it is not useful here
cleaned_data = transposed_data.drop(['Gene Description'])
cleaned_data.index = cleaned_data.index.map(int)
print(cleaned_data.info())
#Convert columns to numeric datatypes instead of objects
cleaned_data = cleaned_data.apply(pd.to_numeric, errors='coerce')
#print first column of data as a check
print(cleaned_data.iloc[:, 0:1])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 1 to 33
Columns: 7129 entries, AFFX-BioB-5_at to Z78285_f_at
dtypes: object(7129)
memory usage: 2.1+ MB
None
Gene Accession Number  AFFX-BioB-5_at
1                                -214
2                                -139
3                                 -76
4                                -135
5                                -106
6                                -138
7                                 -72
8                                -413
9                                   5
10                                -88
11                               -165
12                                -67
13                                -92
14                               -113
15                               -107
16                               -117
17                               -476
18                                -81
19                                -44
20                                 17
21                               -144
22                               -247
23                                -74
24                               -120
25                                -81
26                               -112
27                               -273
34                                -20
35                                  7
36                               -213
37                                -25
38                                -72
28                                 -4
29                                 15
30                               -318
31                                -32
32                               -124
33                               -135

In [5]:
#Merge the key dataframe with the trimmed dataframe to assign the cancer type to each patient sample
exp_data = pd.concat([key, cleaned_data], axis=1, join='inner')
#Check that output has the expected shape
print(exp_data.shape)
#Check against previous printout to confirm data is intact
#print(exp_data.iloc[:, 0:2])
#Group by cancer type to aggregate and calculate useful statistical information with describe()
stats = exp_data.groupby('cancer').describe()
print(stats)

(38, 7130)
       A28102_at                                                            \
           count        mean         std   min    25%    50%    75%    max
cancer
ALL         27.0  258.555556  203.127723  20.0  112.5  216.0  385.5  872.0
AML         11.0  316.090909  126.132830  50.0  254.5  324.0  385.0  486.0

       AB000114_at              ...    Z97074_at        hum_alu_at  \
             count       mean   ...          75%    max      count
cancer                          ...
ALL           27.0  40.296296   ...        256.5  567.0       27.0
AML           11.0   6.090909   ...        122.0  205.0       11.0


                mean          std      min      25%      50%      75%      max
cancer
ALL     19651.074074  7075.934165   6479.0  15040.0  18167.0  23916.0  36417.0
AML     21812.181818  8766.958581  11983.0  17618.5  19406.0  23686.5  45492.0

[2 rows x 57032 columns]

In [6]:
gene_ratios = {}
ratios = []
for key, value in stats.iteritems():
    if key[1] == 'mean':
        if value['AML'] != 0:
            ratio = value['ALL'] / value['AML']
            gene_ratios[key[0]] = ratio
            ratios.append(ratio)
        else:
            print('Gene:' + key[0] + ' ALL mean: ' + str(value['ALL']) + ' AML mean: ' + str(value['AML']))

#print(ratios)

#for gene, ratio in gene_ratios.items():

Gene:D78333_at ALL mean: 7.962962962962963 AML mean: 0.0
Gene:HG3748-HT4018_at ALL mean: 194.74074074074073 AML mean: 0.0

In [7]:
#Transpose dataframe so that genes form the rows
df = stats.transpose()
print(df.head(8))
print(df.shape)
print(df.info())

cancer                  ALL         AML
A28102_at count   27.000000   11.000000
          mean   258.555556  316.090909
          std    203.127723  126.132830
          min     20.000000   50.000000
          25%    112.500000  254.500000
          50%    216.000000  324.000000
          75%    385.500000  385.000000
          max    872.000000  486.000000
(57032, 2)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 57032 entries, (A28102_at, count) to (hum_alu_at, max)
Data columns (total 2 columns):
ALL    57032 non-null float64
AML    57032 non-null float64
dtypes: float64(2)
memory usage: 3.9+ MB
None

In [ ]:
mean = df.loc[:, 'mean']
print(df1.head())

In [8]:
#s_unstack = df.unstack(level=1)
#print(s_unstack.head())
for key, value in df.iteritems():
    print(key)

ALL
AML

In [9]:
#Extract stats info from the MultiIndex and make a separate column
df.reset_index(level=1, inplace=True)
df.rename(columns={'level_1': 'stats'}, inplace=True)
#Rename the column and row indices for clarity
df.rename_axis('Genes', inplace=True)
df.rename_axis(None, axis=1, inplace=True)
print(df.head(16))
print(df.info())
print(df.index)
print(df.columns)

             stats         ALL         AML
Genes
A28102_at    count   27.000000   11.000000
A28102_at     mean  258.555556  316.090909
A28102_at      std  203.127723  126.132830
A28102_at      min   20.000000   50.000000
A28102_at      25%  112.500000  254.500000
A28102_at      50%  216.000000  324.000000
A28102_at      75%  385.500000  385.000000
A28102_at      max  872.000000  486.000000
AB000114_at  count   27.000000   11.000000
AB000114_at   mean   40.296296    6.090909
AB000114_at    std   57.974673   31.007917
AB000114_at    min -111.000000  -35.000000
AB000114_at    25%   17.000000  -20.000000
AB000114_at    50%   41.000000    1.000000
AB000114_at    75%   70.000000   36.000000
AB000114_at    max  174.000000   56.000000
<class 'pandas.core.frame.DataFrame'>
Index: 57032 entries, A28102_at to hum_alu_at
Data columns (total 3 columns):
stats    57032 non-null object
ALL      57032 non-null float64
AML      57032 non-null float64
dtypes: float64(2), object(1)
memory usage: 1.7+ MB
None
Index(['A28102_at', 'A28102_at', 'A28102_at', 'A28102_at', 'A28102_at',
       'A28102_at', 'A28102_at', 'A28102_at', 'AB000114_at', 'AB000114_at',
       ...
       'Z97074_at', 'Z97074_at', 'hum_alu_at', 'hum_alu_at', 'hum_alu_at',
       'hum_alu_at', 'hum_alu_at', 'hum_alu_at', 'hum_alu_at', 'hum_alu_at'],
      dtype='object', name='Genes', length=57032)
Index(['stats', 'ALL', 'AML'], dtype='object')

Testing

In [10]:
#normalized = pd.Series(data = (stats.loc['ALL'] / stats.loc['AML']), name='ALL/AML ratio')
#stats = stats.append(normalized)
#print(stats)

I need a dataframe where each row is a gene and the columns are ALL mean, ALL st.dev, AML mean, ALL st.dev., and ALL/AML ratio. How to do this?